---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="🐈‍⬛"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <!-- <p>
		Estudei Filoloxía Hispánica e Antropoloxía. Adícome a programación.
	</p>

	<p>
		Interésanme as relacións cultura-natureza, animais, arte, música,... son vexetariana. Os burros son os meus animais favoritos.
	</p>

	<p>
		Quero compartir a miña música e cultivar o meu xardín.
	</p>

	<p>
		Son unha persoa multipotencial. O meu gran talento é aprender.
	</p>

	<p>
		Se puidera ter unha cea con alguén, sería con Krishnamurti.
	</p> -->
</Layout>
